<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div class="breadcrumbs">
    <ul>
        <li><a title="Home">Home</a></li>
        <li><a ui-sref="dashboard" title="Dashboard">Dashboard</a></li>
    </ul>
</div>
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar Chart -->
<div class="panel-content">
    <div class="row">
        <div class="col-md-12">
            <div class="mini-stats-sec">
                <div class="row">
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div>
                            <!-- Widget Controls -->
                            <div class="mini-stats ">
                                <span class="red-skin"><i class="fa fa-area-chart"></i></span>
                                <p><i class="fa  fa-arrow-up up"></i> Today Views</p>
                                <h3>22,520</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div>
                            <!-- Widget Controls -->
                            <div class="mini-stats ">
                                <span class="sky-skin"><i class="fa fa-usd"></i></span>
                                <p><i class="fa  fa-arrow-down down"></i> Revenue</p>
                                <h3>1,425</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div>
                            <!-- Widget Controls -->
                            <div class="mini-stats ">
                                <span class="purple-skin"><i class="fa fa-bullhorn"></i></span>
                                <p><i class="fa  fa-arrow-down down"></i> Item Sales</p>
                                <h3>6,101</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="widget-controls">
                                <span class="refresh-content"><i class="fa fa-refresh"></i></span>
                            </div>
                            <!-- Widget Controls -->
                            <div class="mini-stats ">
                                <span class="pink-skin"><i class="fa fa-shopping-cart"></i></span>
                                <p><i class="fa  fa-arrow-up up"></i> New Orders</p>
                                <h3>5,218</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mini stats Sec -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="widget dashboard-table">
                <table>
                    <caption>Order date coming</caption>
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                    </tr>
                    <tr ng-repeat="a in json.tableData">
                        <td>{{a.orderid}}</td>
                        <td>{{a.orderid}}</td>
                        <td>{{a.orderid}}</td>
                    </tr>
                    
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget dashboard-table">
                <table>
                    <caption>Pickup data coming</caption>
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>Ernst Handel</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                    </tr>
                    <tr>
                        <td>Island Trading</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Yoshi Tannamuri</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Giovanni Rovelli</td>
                        <td>Italy</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget dashboard-table">
                <table>
                     <caption>Last few orders</caption>
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>Ernst Handel</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                    </tr>
                    <tr>
                        <td>Island Trading</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Yoshi Tannamuri</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Giovanni Rovelli</td>
                        <td>Italy</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="widget dashboard-table">
                <table>
                     <caption>Need to be issued</caption>
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>Ernst Handel</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                    </tr>
                    <tr>
                        <td>Island Trading</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Yoshi Tannamuri</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Giovanni Rovelli</td>
                        <td>Italy</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Panel Content -->