<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->

<!-- Top Bar Chart -->
<div class="panel-content">
   
<div class="heading-sec">
    <div class="row">
        <div class="col-md-4 column">
            <div class="heading-profile">
                <h2>Dashboard</h2>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-6">
            <div class="widget dashboard-table">
                <table>
                    <h3>Order date coming</h3>
                    <tr>
                        <th>Oder Id</th>
                        <th>Product</th>
                        <th>Date</th>
                    </tr>
                    <tr ng-repeat="a in jsonUpcomingOrders">
                        <td>{{a.orderid}}</td>
                        <td>
                            <ul ng-repeat="prod in a.cartproduct">
                                <li>{{prod.product.name}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul ng-repeat="prod in a.cartproduct">
                                <li> {{prod.timeFrom | date}}
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>
            </div>
           <div class="widget dashboard-table">
                <table>
                    <h3>Last few orders</h3>
                    <tr>
                        <th>Order Id</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                    <tr ng-repeat="a in jsonUpcomingOrders">
                        <td>{{a.orderid}}</td>
                        <td>{{a.date| date}}</td>
                        <td>{{a.total}}</td>
                    </tr>

                </table>
            </div>
        </div>
      
        <div class="col-md-6">
             <div class="widget dashboard-table">
                <table>
                    <h3>Pickup data coming</h3>
                    <tr>
                        <th>Oder Id</th>
                        <th>Product</th>
                        <th>Date</th>
                    </tr>
                    <tr ng-repeat="a in jsonPickupOrders">
                        <td>{{a.orderid}}</td>
                        <td>
                            <ul ng-repeat="prod in a.cartproduct">
                                <li> {{prod.product.name}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul ng-repeat="prod in a.cartproduct">
                                <li> {{prod.timeTo | date}}
                                </li>
                            </ul>
                        </td>
                    </tr>

                </table>
            </div>
            
             <div class="widget dashboard-table">
                <table>
                    <h3>Refund to be issued</h3>
                    <tr>
                        <th>Order Id</th>
                        <th>Date</th>
                    </tr>
                    <tr ng-repeat="a in jsonRefundOrders">
                        <td>{{a.orderid}}</td>
                        <td>{{a.total}}</td>
                    </tr>

                </table>
            </div>
        </div>
    
    </div>
</div>

<!-- Panel Content -->