<md-dialog aria-label="Filter By">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Filter By</h2>
            <span flex></span>
            <md-button ng-click="orderFilterClose()">
                Close
                <!--<md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>-->
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; ">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="f in filterData" label="{{f.name}}">
                <md-content class="md-padding">
<div class="fullscreen-dialog">
                   <div flex="100" flex-gt-sm="100" layout="column">
                        <div>
                                <div layout="row" layout-wrap flex>
                                    <div ng-repeat="v in f.data" class="standard" flex="30">
                                        <label>
                                            <input type="checkbox" ng-checked="exists(item, selected)"
                                                ng-click="toggle(item, selected)"/>
                                            {{v.name}}
                                        </label>
                                    </div>
                                </div>
                        </div>
                    </div>
</div>
 
                    <!--<md-checkbox ng-repeat="v in f.data">
                        {{v.name}}
                    </md-checkbox>-->
                </md-content>
            </md-tab>
        </md-tabs>
        <div class="filter-btn text-center">
            <md-button class="md-raised md-primary">Apply</md-button>
            <!--<md-button class="md-raised md-warn" ng-click="clearFilter()">Clear Filter</md-button>-->
        </div>
    </md-dialog-content>

</md-dialog>