<section class="md-whiteframe-z1 users">
  <md-list ng-cloak>
    <div class="clearfix">
      <md-subheader class="md-no-sticky all-user">{{json.title}}</md-subheader>

    </div>
    <md-content>
      <!--//fixed selectbox-->

      <div class="flex select-wid" flex="20">
        <span><b>Filter</b></span>
        <md-select style="margin: 0 !important; z-index:999;" ng-model="searchMe.myFilter">
          <md-optgroup style="z-index:111 !important;">

            <md-option value="couponCode">Coupon Code</md-option>
            <md-option value="occasionType">Occasion Type</md-option>
            <md-option value="designer">Designer</md-option>
            <md-option value="orderStatus">Order Status</md-option>
            <md-option value="price">Price</md-option>
            <md-option value="rentalDate">Rental Date</md-option>
          </md-optgroup>
        </md-select>
      </div>
      <!--// coupon code-->
      <div class="flex select-wid" flex="20" ng-controller="SelectFilterController">
        <span ng-show="searchMe.myFilter=='couponCode'">Coupon Code</span>
        <md-select ng-show="searchMe.myFilter=='couponCode'" ng-model="searchdata.coupon" ng-change="searchClick(searchdata);" md-on-close="clearSearchTerm()"
          data-md-container-class="selectdemoSelectHeader">
          <md-select-header class="demo-select-header">
            <input class="searchTerm" ng-model="searchTerm" type="text" placeholder="Search for a couponCode..">
          </md-select-header>
          <md-optgroup label="couponCode">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option value="{{coupon.name}}" ng-repeat="coupon in  allCoupon |
              filter:searchTerm">{{coupon.name}}</md-option>
          </md-optgroup>
        </md-select>

        <!--<md-select ng-show="searchMe.myFilter=='couponCode'" style="margin: 0 !important; z-index:999;" ng-model="searchdata.coupon"
          ng-change="searchClick(searchdata);">
          <md-optgroup style="z-index:111 !important;">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option ng-repeat="coupon in  allCoupon" value="{{coupon.name}}">{{coupon.name}}</md-option>
          </md-optgroup>
        </md-select>-->
        <span ng-show="searchMe.myFilter=='occasionType'">Occasion Type</span>
        <md-select ng-show="searchMe.myFilter=='occasionType'" ng-model="searchdata.subcategory" ng-change="searchClick(searchdata);"
          md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
          <md-select-header class="demo-select-header">
            <input class="searchTerm" ng-model="searchTerm" type="search" placeholder="Search for a occasionType..">
          </md-select-header>
          <md-optgroup label="occasionType">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option ng-repeat="subcat in subCategory |
              filter:searchTerm" value="{{subcat._id}}">{{subcat.name}}</md-option>
          </md-optgroup>
        </md-select>

        <!--<md-select ng-show="searchMe.myFilter=='occasionType'" style="margin: 0 !important; z-index:999;" ng-model="searchdata.subcategory"
          ng-change="searchClick(searchdata);">
          <md-optgroup style="z-index:111 !important;">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option ng-repeat="subcategory in  subCategory" value="{{subcategory._id}}">{{subcategory.name}}</md-option>
          </md-optgroup>
        </md-select>-->

        <span ng-show="searchMe.myFilter=='designer'">Designer</span>
        <md-select ng-show="searchMe.myFilter=='designer'" ng-model="searchdata.designer" ng-change="searchClick(searchdata);" md-on-close="clearSearchTerm()"
          data-md-container-class="selectdemoSelectHeader">
          <md-select-header class="demo-select-header">
            <input class="searchTerm" ng-model="searchTerm" type="search" placeholder="Search for a designer..">
          </md-select-header>
          <md-optgroup label="designer">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option ng-repeat="design in  designer |
              filter:searchTerm" value="{{design._id}}">{{design.name}}</md-option>
          </md-optgroup>
        </md-select>


        <!--<md-select ng-show="searchMe.myFilter=='designer'" style="margin: 0 !important; z-index:999;" ng-model="searchdata.designer"
          ng-change="searchClick(searchdata);">
          <md-optgroup style="z-index:111 !important;">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option ng-repeat="design in  designer" value="{{design._id}}">{{design.name}}</md-option>
          </md-optgroup>
        </md-select>-->
        <span ng-show="searchMe.myFilter=='orderStatus'">Order Status</span>
        <md-select ng-show="searchMe.myFilter=='orderStatus'" style="margin: 0 !important; z-index:999;" ng-model="searchdata.status"
          ng-change="searchClick(searchdata);" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader">
          <md-select-header class="demo-select-header">
            <input class="searchTerm" ng-model="searchTerm" type="search" placeholder="Search for a orderStatus..">
          </md-select-header>
          <md-optgroup label="orderStatus">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option ng-repeat="status in  jsonStatus |
              filter:searchTerm" value="{{status}}">{{status}}</md-option>
          </md-optgroup>
        </md-select>

        <!--<md-optgroup style="z-index:111 !important;">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option value="Processing">Processing</md-option>
            <md-option value="Order Confirmed">Order Confirmed</md-option>
            <md-option value="Out for Delivery">Out for Delivery</md-option>
            <md-option value="Delivered">Delivered</md-option>
            <md-option value="Pick-up">Pick-up</md-option>
            <md-option value="Received">Received</md-option>
            <md-option value="Refund">Refund</md-option>
            <md-option value="Completed">Completed</md-option>
            <md-option value="Cancelled">Cancelled</md-option>
          </md-optgroup>
        </md-select>-->
        <span ng-show="searchMe.myFilter=='price'">Price</span>
        <md-select ng-show="searchMe.myFilter=='price'" style="margin: 0 !important; z-index:999;" ng-model="searchdata.price" ng-change="searchClick(searchdata);">
          <md-optgroup style="z-index:111 !important;">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option value="0-10000">0-10000</md-option>
            <md-option value="11000-20000">11000-20000</md-option>
            <md-option value="21000-30000">21000-30000</md-option>
            <md-option value="31000-30000">31000-30000</md-option>
            <md-option value="31000-40000">31000-40000</md-option>
            <md-option value="41000-50000">41000-50000</md-option>
            <md-option value="51000-60000">51000-60000</md-option>
            <md-option value="61000-70000">61000-70000</md-option>
            <md-option value="71000-80000">71000-80000</md-option>
            <md-option value="81000-90000">81000-90000</md-option>
            <md-option value="91000-100000">91000-100000</md-option>
            <md-option value="100000 & Above">100000 & Above</md-option>
          </md-optgroup>
        </md-select>

        <span ng-show="searchMe.myFilter=='rentalDate'">Rental Date</span>
        <input ng-show="searchMe.myFilter=='rentalDate'" type="date" ng-model="searchdata.rentalDate" ng-change="searchClick(searchdata);">
        <!--<md-select  ng-if="searchdata.myFilter=='rentalDate'" style="margin: 0 !important; z-index:999;" ng-model="searchdata.price" ng-change="searchClick(searchdata);">
          <md-optgroup style="z-index:111 !important;">
            <md-option ng-selected="true" value="">All</md-option>
            <md-option value="0-10000">0-10000</md-option>
            <md-option value="11000-20000">11000-20000</md-option>
            <md-option value="21000-30000">21000-30000</md-option>
            <md-option value="31000-30000">31000-30000</md-option>
            <md-option value="31000-40000">31000-40000</md-option>
            <md-option value="41000-50000">41000-50000</md-option>
            <md-option value="51000-60000">51000-60000</md-option>
            <md-option value="61000-70000">61000-70000</md-option>
            <md-option value="71000-80000">71000-80000</md-option>
            <md-option value="81000-90000">81000-90000</md-option>
            <md-option value="91000-100000">91000-100000</md-option>
            <md-option value="100000 & Above">100000 & Above</md-option>
          </md-optgroup>
        </md-select>-->
      </div>
      <!--//  subcategory-->
      <!--<div class="flex search-bar" flex="20">-->

      <!--</div>-->
      <!--// search text-->

      <!--//  designer-->
      <!--<div class="flex search-bar" flex="20">-->

      <!--</div>-->
      <!--<div class="flex search-bar" style="margin-right:15px !important;" flex="20">-->

      <!--</div>-->
      <!--// price filter-->
      <!--<div class="flex search-bar" style="margin-right:15px !important;" flex="15">-->

      <!--</div>-->
    </md-content>
    <md-divider></md-divider>
    <md-content class="md-padding">

      <form ng-submit="$event.preventDefault()" name="searchForm">
        <div layout-gt-sm="row">
          <md-input-container flex="50">
            <label>Name</label>
            <input ng-model="searchdata.search" placeholder="Enter user name here" type="text" />
          </md-input-container>
          <md-input-container>
            <md-button class="md-raised md-primary" ng-click="searchClick(searchdata)">Go</md-button>

          </md-input-container>
          <div class="flex search-bar" flex="50">
            <md-button ng-click="exportOrder(searchdata.designer)" class="pull-right md-raised">Export</md-button>
          </div>
        </div>
      </form>

    </md-content>
    <md-divider></md-divider>
    <md-content flex="" ng-show="json.tableData.length>=0 " layout-padding="">
      <md-card style="box-shadow:0 2px 3px 0 rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.14),0 5px 1px -1px rgba(0,0,0,.12);" ng-repeat="result in json.tableData">
        <md-list-item style="border-bottom:1px solid #797272;" class="ls-head secondary-button-padding padlr16">
          <p ng-repeat="field in json.fields" ng-if="field.type!==''">{{field.name}}</p>
          <md-button aria-label="Expand" class="md-icon-button" ng-repeat="action in json.action">
            <ng-md-icon class="" icon="{{action.icon}}" size="20" style="fill:black;"></ng-md-icon>
          </md-button>
        </md-list-item>
        <div ng-hide="json.tableData.length>=0 || json.tableData.cart.length>=0" class="loadingbox">
          Loading...
        </div>
        <md-list-item class="secondary-button-padding padlr16">
          <p ng-repeat="field in json.fields" ng-if="field.type !==''" class="word-b">
            <span ng-if="field.type!='image' && result|getValue:field.tableRef:field.type!=''">{{result|getValue:field.tableRef:field.type}}</span>
            <span ng-if="field.type!='image' && result|getValue:field.tableRef:field.type ==''"></span>
            <span class="img-holder" ng-if="field.type=='image'">
                        <img width="200" ng-src="{{result|getValue:field.tableRef:field.type}}" alt="" >
        </span>
          </p>
          <md-button aria-label="Expand" class="md-icon-button" ng-repeat="action in json.action" ng-click="performAction(action,result)">
            <ng-md-icon class="" icon="{{action.icon}}" size="20" style="fill:{{action.color}};"></ng-md-icon>
          </md-button>
        </md-list-item>
        <md-list ng-cloak ng-repeat="field in json.fields " ng-if="field.display=='table'">
          <md-list-item style="border-bottom: 1px solid #CBCACA;" class="ls-head firstpro secondary-button-padding padlr16">
            <p ng-repeat="heading in json.tableFields">{{heading.name}}</p>
          </md-list-item>
          <md-list-item ng-repeat="cartpro in result.cartproduct" class="firstpro secondary-button-padding padlr16">
            <p ng-repeat="values in json.tableFields">
              <span ng-if="values.type==='product'">{{cartpro.product.name}}</span>
              <span ng-if="values.type==='price'"><span ng-if="cartpro.duration==='4'">{{cartpro.product.fourdayrentalamount}}</span>
              <span ng-if="cartpro.duration==='8'">{{cartpro.product.eightdayrentalamount}}</span>
              </span>
              <span ng-if="values.type!='date'">{{cartpro[values.model]}}</span>
              <span ng-if="values.type=='date'">{{cartpro[values.model] | date:'dd-MM-yyyy'}}</span>
            </p>
          </md-list-item>
        </md-list>
      </md-card>
    </md-content>
    <uib-pagination ng-if="json.tableData.length>0" total-items="pageInfo.totalitems" ng-model="pagination.pagenumber" class="pagination-sm"
      boundary-link-numbers="true" items-per-page="pagination.pagesize" ng-change="getMoreResults('undefined',searchdata);"
      max-size="pageInfo.totalitems" ng-hide="pageInfo.lastpage==1"></uib-pagination>
  </md-list>
  <a ui-sref="{{json.createButtonState}}" ng-if="json.createButtonState">
    <!-- <a ui-sref="{{json.create.createButtonState}}" ng-if="json.create"> -->
    <md-button class="md-fab md-fab-bottom-right md-primary" aria-label="Add Users">
      <md-icon class="fa fa-plus plus-icon"></md-icon>
    </md-button>
  </a>
</section>